*{
    margin: 0;
    padding: 0;

}

body{
     background: linear-gradient(to right, #d9a7c7, #fffcdc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* heading styles */
.h1{
    display: block;
   margin: 3rem auto;
    text-align: center;
    width: fit-content;
    font-size: 2rem;
}

/* accordion styles */
.accordion{
    max-width: 50rem;
    margin: 1rem auto;

}

.items-heading{
    display: inline-block;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}



.items {
    margin-left: 1rem;
margin-right: 1rem;
    border-bottom: 0.1rem solid rgb(119, 175, 223);
}

/* .items:hover{
    background-color: rgba(222, 245, 245, 0.645);
    transition: 0.7s ease-out;
} */

.memes-img{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.items-input{
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.items-input:checked ~ .memes-img {
    display: block;
     transition: 0.5s ease-out;
}

/* icons for open/close state */
.icon {
    color: rgb(177, 64, 64);
    background-color: rgb(177, 64, 64);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 0.4rem;
}

.items-input:checked ~ .icon {
    color:rgb(47, 195, 133);
    background-color: rgb(47, 195, 133);
     transition: 0.2s ease-out;
}

