* {
    margin: 0;
    padding: 0;

}


/* heading styles */
.h1 {
    display: block;
    margin: 3rem auto;
    text-align: center;
    width: fit-content;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.16rem solid black;
    border-top: 0.16rem solid black;
}

/* accordion styles */
.accordion {
    max-width: 50rem;
    margin: 1rem auto;
    padding-bottom: 1rem;


}

.items-heading {
    width: 90%;
    display: inline-block;
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    justify-content: space-between;
}

.items-heading:focus {
    text-shadow: 0 0 1rem rgba(155, 195, 195, 0.645);
}


.items {
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 0.1rem solid rgb(119, 175, 223);

}



.items:focus {
    background-color: rgba(222, 245, 245, 0.645);
    transition: 0.7s ease-out;
}

.items:active {
    transform: scale(0.9);
    transition: 0.1s ease-out;
}

.memes-img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}



.items-input {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.items-input:checked~.memes-img {
    display: block;
    transition: 0.5s ease-out;
}

/* icons for open/close state */
.icon {
    color: rgb(177, 64, 64);
    background-color: rgb(177, 64, 64);
    vertical-align: middle;
    font-size: 0.4rem;
}

.items-input:checked~.icon {
    color: rgb(47, 195, 133);
    background-color: rgb(47, 195, 133);
    transition: 0.2s ease-out;
}




/* Media query */

@media screen and (min-width: 480) {
    .h1 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* tablet */
@media screen and (min-width: 820px) {
    .items-heading {
        font-size: 2rem;
        padding: 1rem;
    }

    .items:active {
        transform: scale(0.95);
        transition: 0.1s ease-out;

    }

    .items:focus {
        background-color: rgba(222, 245, 245, 0.645);
        transition: 0.7s ease-out;
    }

    .icon {
        font-size: 0.8rem;
        vertical-align: middle;
    }

    .h1 {
        font-size: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-left: 0.16rem solid black;
        border-right: 0.16rem solid black;
        border-top: none;
        border-bottom: none;
    }
}

/* desktop */
@media screen and (min-width: 1920px) {
    .accordion {
        max-width: 100rem;
        cursor: pointer;
    }

    .h1 {
        font-size: 4rem;
    }

    .items:hover {
        background-color: rgba(222, 245, 245, 0.645);
        transition: 0.7s ease-out;
    }

    .icon {
        display: inline-block;
        font-size: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .items-heading {
        cursor: pointer;
        padding: 4rem auto;
        font-size: 3rem;
    }

    .items-heading:hover {
        transition: 0.2s ease-in;
        text-shadow: 0 0 1rem rgba(155, 195, 195, 0.645);
    }

    .memes-img {
        width: 80%;
    }

    .items-input:checked~.items-heading {
        text-shadow: 0 0 0.4rem rgba(57, 8, 91, 0.829);
        color: rgb(46, 14, 98);
        transition: 0.2s ease-in;
    }

    .items-input:checked~.memes-img {
        display: block;
        transition: 0.5s ease-out;
    }


    .items-input:checked~.icon {
        color: rgb(47, 195, 133);
        background-color: rgb(47, 195, 133);
        transition: 0.2s ease-out;
    }
}


/* 15" desktop for people who will check my task */

@media screen and (min-width: 1280px) {
    .accordion {
        max-width: 80rem;
        cursor: pointer;
    }

    .items {

        box-sizing: border-box;
        padding: 2rem 4rem;
        vertical-align: middle;
    }


    .icon {
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .items-heading {
        cursor: pointer;
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    .items-heading:hover {
        transition: 0.2s ease-in;
        text-shadow: 0 0 1rem rgba(155, 195, 195, 0.645);
    }

    .h1 {
        font-size: 3rem;

    }

    .memes-img {
        width: 70%;
    }

    .items-input:checked~.items-heading {
        text-shadow: 0 0 0.4rem rgba(57, 8, 91, 0.829);
        color: rgb(46, 14, 98);
        transition: 0.2s ease-in;
    }

    .items-input:checked~.memes-img {
        display: block;
        transition: 0.3s ease-out;
        border: 0.1rem solid black;
    }


    .items-input:checked~.icon {
        color: rgb(47, 195, 133);
        background-color: rgb(47, 195, 133);
        transition: 0.2s ease-out;
    }

    .items-input:hover~.memes-img {
        display: block;
        transition: 0.1s ease-out;

    }


    .items-input:hover~.icon {
        color: rgb(47, 195, 133);
        background-color: rgb(47, 195, 133);
        transition: 0.2s ease-out;
    }

    .accordion:hover {
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(155, 195, 195, 0.645);
        background-color: rgba(155, 195, 195, 0.1);
        transition: 0.3s ease-in;
    }
}